<html>
  <head>
    <title>ElasticSearch Flask Autosuggestions</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <input class="search-box">
    <ul class="results"></ul>
    <script>
      $(document).ready(function() {
        let debounce;
        $('.search-box').on('keydown', function (e) { 
          clearTimeout(debounce)
          debounce = setTimeout(() => {
                  getAutoComplete();  
          }, 300);
        })
      })

      function getAutoComplete() {
              const query = $('.search-box').val();
              fetch(`http://localhost:5000/search?q=${encodeURIComponent(query.trim())}`)
                .then((resp) => resp.json())
                .then((data) => {
                        $('.results').empty();
                        for (let i = 0; i < data.length; i++) {
                                $('.results').append(`<li>${data[i]}</li>`)
                        }
                      })
      }
    </script>
  </body>
</html>
